.cc {
  background-image: url(./Assets/login-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
}

.counter,
.list {
  counter-reset: serial-number;
}

.counter td:first-child:before {
  counter-increment: serial-number;
  content: counter(serial-number) "";
}
.list li::before {
  counter-increment: serial-number;
  content: counter(serial-number) ". ";
}

tableSl {
  counter-reset: serial-number;
}

.tableSl td::before {
  counter-increment: serial-number;
  content: counter(serial-number);
}
