@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-button:single-button {
  height: 0;
  width: 0;
}

body::-webkit-scrollbar-track {
  background: white;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
body::-webkit-scrollbar-thumb {
  background-color: #fd1803;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
